* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::berfor,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.code-wrapper{
  padding: 130px 10px 10px;
  height: 50%;
}
.preview-wrapper{
  height: 50%;
}
#code{
  overflow: hidden;
  height: 100%;
}
.preview{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 100%;
  min-width: 390px;
  height: 250px;
  position: relative;
  padding: 35px;
  border-radius: 50%;
  margin: auto; 
}
.blink {
  /* 眨眼效果 */
  visibility: hidden;
  position: absolute;
  width: 49px;  
  height: 49px;
  border-radius: 50% 50% 0 0;
  right: 50%;
  margin-right:90px;
  top: 49px;
  border-top: 10px solid #483000;
}
